$nav-bar-height: 50px;

@import "nav_bar";

.top {
    height: $nav-bar-height;
    min-height: $nav-bar-height;
    max-height: $nav-bar-height;
}

#top:first-of-type {
    top: 0;
}

@import "header";

@import "body";

.rising_button {
    box-shadow: 5px 5px 2px grey;
}

.rising_button:hover {
    box-shadow: 7px 7px 4px grey;
}

.prettyButton {
    min-height: 30px;
    padding: 0px 10px;
    margin: 10px;
    color: black;
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(255,255,255,0);
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    :hover {
        background-color: rgba(255,255,255,0.5);
        color: rgba(0,0,0,0.5);
        border-color: rgba(0,0,0,0.5);
    }
}
