$nav-bar-height: 50px;

@import "nav_bar";

.top {
    height: $nav-bar-height;
    min-height: $nav-bar-height;
    max-height: $nav-bar-height;
}

#top:first-of-type {
    top: 0;
}

@import "header";

@import "body";

.rising_button {
    box-shadow: 5px 5px 2px grey;
}

.rising_button:hover {
    box-shadow: 7px 7px 4px grey;
}
