$horizontal-padding: 14px;

.nav_bar {
  overflow: auto;
  background-color: #6adbd8;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $nav-bar-height;
  z-index: 5;

  .logo {
    display: inline-block;
    height: 40px;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }

  a {
    float: left;
    color: black; //#f2f2f2;
    text-align: center;
    padding: $horizontal-padding 2+$horizontal-padding;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover, a.active:hover {
    background-color: #0abab5;
  }

  a.active {
    background-color: #3acbc6;
    color: black;
  }


}
