$horizontal-padding: 14px;
$logo-height: 40px;

.nav_bar {
  overflow: hidden;
  background-color: #6adbd8;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: $nav-bar-height;
  z-index: 5;

  .logo {
    display: inline-block;
    height: $logo-height;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }

  a {
    float: left;
    color: black; //#f2f2f2;
    text-align: center;
    padding: $horizontal-padding 2+$horizontal-padding;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover, a.active:hover {
    background-color: #0abab5;
  }

  a.active {
    background-color: #3acbc6;
    color: black;
  }

  a.menu {
      display: none;
  }

}


@media screen and (max-width: 650px) {
    .nav_bar {
        justify-content: space-between;

        *:not(:first-child) {
            display: none;
        }

        a.menu {
            display: initial;
        }
    }

    .nav_bar.responsive {
        // position: relative;
        flex-direction: column;
        align-items: flex-start;

        .logo {
            padding-top: ($nav-bar-height - $logo-height)/2;
        }

        a:not(:last-child) {
            display: initial;
            width: inherit;
            text-align: left;
        }

        a.menu {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
