#gameInfo {
    display: flex;
    flex-flow: row;
    justify-content: center;

    > * {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.gameBoard {
    display: flex;
    flex-flow: row nowrap;
    width: 98vw;

    > * {
        width: 50%;
    }
}

#gameLog {
  border: 1px solid #686865;
  // width: 35%;
  height: 10em;
  // margin-top: 2.75em;
  text-align: left;
  padding: 0.5em;
  float: right;
  overflow-y: scroll;

  > p {
      color: #686865;
      font-family: 'Share Tech Mono', 'Courier New', Courier, fixed-width;
      font-size: 0.9em;
      line-height: 0.9em;
      margin-left: 1em;
      // text-indent: -1.25em;
      width: 90%;
  }
}

.gameSection {
    // background-color: rgba(255,255,255,0);
    border-color: black;
    border-width: 2px;
    margin-bottom: 10px;
    > .sectionBox {
        display: flex;
        flex-direction: column;
        > * {
            margin-left: 10px;
            // width: 100px;
            // max-width: 150px;
            > p {
                color: black;
                font-family: roboto;
                // font-weight: bold;
                font-size: 16px;
            }
            > .buttonBox {
                display: flex;
                flex-flow: row wrap;
            }
        }
    }

}
