.nav_bar {
  overflow: hidden;
  background-color: #6adbd8;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  z-index: 5;
}
.nav_bar .logo {
  display: inline-block;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
}
.nav_bar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav_bar a:hover, .nav_bar a.active:hover {
  background-color: #0abab5;
}
.nav_bar a.active {
  background-color: #3acbc6;
  color: black;
}
.nav_bar a.menu {
  display: none;
}

@media screen and (max-width: 650px) {
  .nav_bar {
    justify-content: space-between;
  }
  .nav_bar *:not(:first-child) {
    display: none;
  }
  .nav_bar a.menu {
    display: initial;
  }

  .nav_bar.responsive {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav_bar.responsive .logo {
    padding-top: 5px;
  }
  .nav_bar.responsive a:not(:last-child) {
    display: initial;
    width: inherit;
    text-align: left;
  }
  .nav_bar.responsive a.menu {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.top {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}

#top:first-of-type {
  top: 0;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  background-color: rgba(106, 219, 216, 0.7);
}

.title_block {
  position: relative;
  max-height: 500px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#title_bkgd_img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.5;
  vertical-align: top;
  width: 100%;
  max-height: inherit;
}

.title_block_inner {
  width: 100%;
  height: 100%;
  max-height: inherit;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#title_image {
  vertical-align: top;
  max-height: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  background-color: white;
}

.title_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 64px;
  z-index: 1;
  opacity: 1;
}

body {
  margin: auto;
  padding: auto;
  display: flex;
  flex-flow: column nowrap;
  min-width: 700px;
  align-items: center;
  width: 100%;
  background-color: rgba(106, 219, 216, 0.7);
}

.mainBody {
  position: relative;
  margin: auto;
  padding: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 700px;
  width: 100%;
}

#mainBodyBkgdImg {
  filter: brightness(1.2) blur(8px);
  -webkit-filter: brightness(1.2) blur(8px);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  width: inherit;
  height: 100%;
  /* align-self: flex-start; */
}

.mainContent {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.content > h2 {
  align-self: center;
}

.rising_button {
  box-shadow: 5px 5px 2px grey;
}

.rising_button:hover {
  box-shadow: 7px 7px 4px grey;
}

/*# sourceMappingURL=base.css.map */
