{% extends "base.html" %}
{% block page_title %}Game Lounge{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/stylesheets/css/game_lounge.css">
{% endblock %}

{% block nav_bar %}
{% set nav_items = [
    ["back_home","home","Back to main", "main"]
    ] %}
{% include "nav_bar.html" %}
<script src="../../static/scripts/nav_bar.js" charset="utf-8"></script>
<div class="top" id="top"></div>
{% endblock %}

{% block title_block %}
{% endblock %}

{% block background_imgURL %}{% endblock %}

{% block pageContent %}
    <div class="gameLounge_games">
        <div class="game" id="stacker">
            <h1>Stacker</h1>
            <p>It's just the spacebar. That's it.</p>
            <div class="gameBoard" id="stackerContainer">

            </div>
        </div>
        <div class="game" id="secretHitler">
            <h1>Secret Hitler</h1>
            <p>Play with some friends!</p>
            <form name="createHitler">
                <input type="text" name="gameID" placeholder="Enter a name for your gameroom">
                <input type="text" name="username" placeholder="Enter a username">
                <input type="button" name="submit" value="Create Game!" onclick="attemptCreate()" class="prettyButton">
            </form>
            <form name="joinHitler">
                <input type="text" name="gameID" placeholder="Enter a name for your gameroom">
                <input type="text" name="username" placeholder="Enter a username">
                <input type="hidden" name="otherUser" placeholder="Enter someone else's username">
                <input type="button" name="submit" value="Join Game!" onclick="attemptJoin()" class="prettyButton">
                {% if displayed %}
                    <input type="button" name="request" value="Request game entry" onclick="requestJoin()" class="prettyButton">
                {% endif %}
            </form>
        </div>
        <!-- <div class="game" id="newGame">
            <h1>The New Game</h1>
            <p>I need game ideas!.</p>
            <div class="gameBoard" id="gameContainer">

            </div>
        </div> -->
    </div>
{% endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript" src="../../static/scripts/libraries/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="../../static/scripts/StackerP5js.js"></script>
<script language="javascript" type="text/javascript" src="../../static/scripts/startHitler.js"></script>
<!-- <script language="javascript" type="text/javascript" src="../../static/scripts/newGameP5.js"></script> -->
{% endblock %}
