{% extends "base.html" %}
{% block page_title %}Secret Hitler - {{gameID}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/stylesheets/css/secret_hitler.css">
{% endblock %}

{% block nav_bar %}
{% set nav_items = [
    ["back_home","home","Back to main", "main"],
    ["back_game_lounge","game_lounge","Back to game lounge", "game-lounge"]
    ] %}
{% include "nav_bar.html" %}
<script src="../../static/scripts/nav_bar.js" charset="utf-8"></script>
<div class="top" id="top"></div>
{% endblock %}

{% block title_block %}
<h1>Secret Hitler</h1>
{% endblock %}

{% block background_imgURL %}{% endblock %}

{% block pageContent %}
    <div class="data" style="display: none;">
        <p id="gameID">{{gameID}}</p>
        <p id="username">{{player}}</p>
        <p id="others">{{others}}</p>
        <p id="gameJSON">{{gameJSON}}</p>
    </div>
    <div id="gameInfo">
        <p id="gameIDText">roomID: {{gameID}}</p>
        <p isectionBox">Username: {{player}}</p>
    </div>
    <div class="gameBoard" id="hitlerContainer">
        <div id="gameLog"></div>
        <div id="game">
            <div class="gameSection" id="actionEventsDiv">
                <!-- <p>Tap when ready:</p> -->
                <div class="sectionBox" id="actionBox"></div>
            </div>
            <div class="gameSection" id="choosePlayerDiv">
                <div class="sectionBox">
                    <div class="choosePlayerSection" style="display: none;">
                        <p>Select a player:</p>
                        <div class="buttonBox" id="playerButtonBox"></div>
                    </div>
                </div>
            </div>
            <div class="gameSection" id="requestDiv">
                <!-- <p>Incoming requests:</p> -->
                <div class="sectionBox" id="requestBox"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript" src="../../static/scripts/libraries/p5.min.js"></script>
<!-- <script language="javascript" type="text/javascript" src="../../static/scripts/HitlerP5js.js"></script> -->
<script language="javascript" type="text/javascript" src="../../static/scripts/hitler.js"></script>
{% endblock %}
