{% extends "base.html" %}
{% block page_title %}Game Lounge{% endblock %}

{% block styles %}

{% endblock %}

{% block nav_bar_config %}
{% endblock %}

{% block title_block %}
{% endblock %}

{% block background_imgURL %}{% endblock %}

{% block pageContent %}
    <h1>Stacker</h1>
    <p>It's just the spacebar. That's it.</p>
    <div class="game" id="stackerContainer">

    </div>
    <!-- <div class="rising_button" id="back_to_top_block" onclick="goToTop()">
        <p>Back to top:</p>
        <img src="../static/images/up_arrow.png" alt="">
    </div> -->
{% endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript" src="../static/scripts/libraries/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="../static/scripts/StackerP5js.js"></script>
{% endblock %}
