{% extends "base.html" %}
{% block page_title %}Mudit Gupta{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/stylesheets/css/main.css">
{% endblock %}

{% block title_block %}
<h1>Mudit Gupta</h1>
{% endblock %}

{% block background_imgURL %}<!--TODO: add background image-->{% endblock %}

{% block pageContent %}
  {% include "navigator_block.html" %}
  {% include "who_am_i.html" %}
  {% include "projects.html" %}
  {% include "find_me_online.html" %}
  {% include "resume.html" %}
  <div class="back_to_top_block rising_button" href="#top_nav">
      <p>Back to top:</p>
      <img src="../static/images/up_arrow.png" alt="">
  </div>
{% endblock %}

{% block scripts %}
<script src='../static/scripts/main.js'></script>
<script src='../static/scripts/mavigator_block.js'></script>
<script src='../static/scripts/who_am_i.js'></script>
<script src='../static/scripts/projects.js'></script>
<script src='../static/scripts/find_me_online.js'></script>
<script src='../static/scripts/resume.js'></script>
{% endblock %}
