<div id="top_nav" class="nav_bar">
  <img class="logo" src="../static/images/icons/logo.png" alt="">
  <a id="who_am_i_nav" href="#who_am_i"><i class="fa fa-fw fa-user"></i> Who Am I?</a>
  <a id="projects_nav" href="#projects"><i class="fa fa-fw fa-book"></i> Projects</a>
  <a id="find_me_online_nav" href="#find_me_online"><i class="fa fa-fw fa-globe"></i> Find Me Online</a>
  <a id="resume_nav" href="#resume"><i class="fa fa-fw fa-file"></i> Resume</a>
  <a id="back_to_top" href="#top_nav"><i class="fa fa-fw fa-arrow-up"></i> Back To Top</a>
</div>
