<div id="top_nav" class="nav_bar">
  <img class="logo" src="../static/images/icons/logo.png" alt="" onclick="navToSection('#top')">
  <!-- ["section_id","fa fa-fw fa-iconName","section_name"] -->
  {% for section in nav_items %}
    <a class="nav_bar_item" id="nav_{{section[0]}}" {% if section|length == 3 %}onclick="navToSection('#{{section[0]}}')"{% else %}href="/{{section[3]}}"{% endif %}><i class="fa fa-fw fa-{{section[1]}}"></i> {{section[2]}}</a>
  {% endfor %}
  <a class="menu" href="javascript:void(0);" onclick="responsiveNav()"><i class="fa fa-bars"></i></a>
</div>
