{% extends "content_block.html" %}
{% block content_id %}projects{% endblock %}

{% block title %}Projects{% endblock %}

{% block content_content %}
  {% set projects = [
      {
          'id' : 'GameLounge',
          'title' : 'Game Lounge',
          'description' : 'This is a collection of games that I have created. I create most of these in both Processing.js and p5.js.',
          'image' : '',
          'link' : 'game-lounge'
      }
      ] %}
  {% for project in projects %}
    {% include "project_item.html" %}
  {% endfor %}
{% endblock %}
